# ch02 자료형과 연산자

### 1. 변수
    - 별도의 변수 선언 과정 없음
    - 변수 할당은 대입연산자(=) 사용
    - 변수 삭제는 del 사용
    - 여러 변수에 여러 개 값을 넣을 수 있다

In [38]:
import numpy as np
r = 3
area = np.pi * r * r
print("넓이는", area)

넓이는 28.274333882308138

In [39]:
print("실수일 때, ", type(area), id(area))

area = 28
print("정수일 때, ", type(area), id(area))

area = 'helloworld'
print("문자열일 때, ", type(area), id(area))

실수일 때,  <class 'float'> 2873432488016
정수일 때,  <class 'int'> 140705525057160
문자열일 때,  <class 'str'> 2873434821872

In [40]:
# 변수 삭제
del area

In [41]:
# 복소수 j
i = 3 + 3j
type(i)

complex

In [44]:
# 여러 변수에 여러 값 넣기
a, b = 1, 2
print("a =", a, " b =", b)

a, b = b, a+b    #병렬로
print("a =", a, " b =", b)

a = 1  b = 2
a = 2  b = 3

### 2. 도움말
    - help(print)
    - print?
    - space + shift + tab

### 3. 함수

In [59]:
# 함수 정의
def make_number(x, y=0):
    ''' <함수 도움말>
    매개변수 2개를 이용해 두 자리 정수 생성
    x는 10의 자리수
    y는 1의 자리수
    '''
    return x*10 + y

In [57]:
make_number(3,4)

34

In [58]:
# 함수를 변수에 할당 가능
make = make_number
make(3,4)

34

### 4. 화면 입출력

In [65]:
first = input('첫 번째 숫자 입력 : ')
second = input('두 번째 숫자 입력 : ')

print('두 수의 합 = ', int(first)+int(second))

첫 번째 숫자 입력 :  3
두 번째 숫자 입력 :  4

두 수의 합 =  7

In [72]:
print(first, second, sep=',', end=' ')

3,4

### 5. 자료형
    - 숫자 : int, float, complex (double X)
    - 문자 : str
    - 논리 : bool

In [88]:
# 숫자
import sys
print(sys.maxsize)

9223372036854775807

In [92]:
# 문자
text = "안녕하세요\n홍길동입니다\n반갑습니다"
print(text)

text = """안녕하세요
홍길동입니다
반갑습니다"""
print(text)

안녕하세요
홍길동입니다
반갑습니다
안녕하세요
홍길동입니다
반갑습니다

In [133]:
# 문자열 슬라이싱
num = "0123456789"
print(num)

print(num[0:3])
print(num[5:])
print(num[:5])

print(num[-1])
print(num[-5:-1])

print(num[0:9:2]) # from 0 to 9, step=2
print(num[::3])   # step=3 
print(num[9::-1]) # from 9, step=-1

0123456789
012
56789
01234
9
5678
02468
0369
9876543210

In [134]:
# 논리형 (True or False)
# False : 0, None, "", '', [], (), {}
# True : " ", '\0'

if 0+0j:
    print(True)
else:
    print(False)

False

In [137]:
# 형변환
#'2,000' 을 int로

In [138]:
# format() 함수
# "{[인덱스]:[공백대체문자].[정렬방법].[자릿수].[타입]}".format(변수명, ...)
# - 정렬방법 : < , > , ^
# - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)
a = 10
s = '001103-1234567'
print("[{0:$>10d}, [{1:*<14.7}]".format(a, s))

[$$$$$$$$10, [001103-*******]

### 6. 연산자
    - 산술 연산자 : +, -, *, /, //, %, **
    - 할당 연산자 : =, +=, -=, /=, *= .. 
    - 논리 연산자 : &, and, |, or, not (우선순위 높음) 
    - 비트 연산자 : &, |, ^, >>, <<, ~
    - 비교 연산자 : <, >, <=, >=, ==, !=

In [139]:
# 논리 vs 비트
print((10>3) & (10>5)) # 논리 연산자 (bool값 사이의 연산)
print(10 & 3) # 비트 연산자

True
2

In [140]:
a, b = 2, 3
1 < a < b < 4

True

### 7. 문자열 다루기
    - 문자열 슬라이싱
    - len() : 문자 개수
    - upper(), lower() : 대문자로, 소문자로
    - title() : 첫 문자만 대문자로
    - capitalize() : 첫 문자만 대문자로, 나머지는 소문자로
    - count() : 찾을 문자열이 몇개 있는지
    - find() : 찾을 문자열의 인덱스값 (왼쪽부터) / 없으면 -1 반환
    - rfind() : 찾을 문자열의 인덱스값 (오른쪽부터) / 없으면 -1 반환
    - startswith() : 특정 문자열로 시작하는지 True or False
    - endswith() : 특정 문자열로 끝나는지 True or False
    - strip() : 좌우 공백 제거
    - lstrip() : 왼쪽 공백 제거
    - rstrip() : 오른쪽 공백 제거
    - isdigit() : 숫자 문자열인지 True or False
    - islower() : 소문자 문자열인지 True or False
    - isupper() : 대문자 문자열인지 True or False
    - replace(a, b) : a 문자열을 b 문자열로 변경

In [162]:
tmp = 'hello fucking Kelly'
print("len() :", len(tmp))

print("\nupper() :", tmp.upper())
print("title() :", tmp.title())
print("capitalize() :", tmp.capitalize())

print("\ncount() :", tmp.count('ll'))
print("find() :", tmp.find('ll'))
print("rfind() :", tmp.rfind('ll'))

print("\nstartswith() :", tmp.startswith('A'))
print("endswith() :", tmp.endswith('ly'))

print("\nisdigit() :", tmp.isdigit())
print("islower() :", tmp.islower())
print("isupper() :", tmp.isupper())

print("\nreplace() :", tmp.replace('fucking', ' '))

len() : 19

upper() : HELLO FUCKING KELLY
title() : Hello Fucking Kelly
capitalize() : Hello fucking kelly

count() : 2
find() : 2
rfind() : 16

startswith() : False
endswith() : True

isdigit() : False
islower() : False
isupper() : False

replace() : hello   Kelly

In [178]:
# split()과 join()
word = tmp.split(' ')
print(word)

sentence = '~'.join(word)
print(sentence)

['hello', 'fucking', 'Kelly']
hello~fucking~Kelly

### 8. 날짜와 시간

In [182]:
from datetime import date
someday = date(2024, 5, 29)
print(someday)

2024-05-29

In [183]:
today = date.today()
print(today)

2024-05-30

In [184]:
from datetime import datetime
now = datetime.today()
print(now)

2024-05-30 12:48:06.606989

### 9. 연습문제

In [224]:
# 1
name, age = input('이름과 나이를 입력하세요 : ').split()
print('{}님의 나이는 {}살입니다'.format(name, age))

이름과 나이를 입력하세요 : ㅁㄴㅇ 12

ㅁㄴㅇ님의 나이는 12살입니다

In [227]:
# 2
a,b = input('두 수를 입력하세요 : ').split()
a = int(a); b = int(b)

try:
    print(a+b, a-b, a*b, a/b, a//b, a%b)
except:
    print('두 번째 정수에 0을 넣지 마세요')

두 수를 입력하세요 :  4 2

6 2 8 2.0 2 0

In [229]:
# 3
before = 'Hello World'
after = before.split()
print(after[1], after[0])

World Hello

In [208]:
# 4
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [209]:
# 5
x = 'abcdef'
print(x[::-1])

fedcba

In [232]:
# 6
C = float(input('섭씨 온도를 입력하세요'))
F = C*1.8 + 32
if F-int(F)==0:
    print(int(F))
else:
    print(f"%.2f"%F)

섭씨 온도를 입력하세요 12

53.60

In [217]:
# 7 
#잘못된 것
# 1)for 2)10th 3)Student.name

In [218]:
# 8 
# 실행결과
# SeoulnSeoul
# Seoul n Seoul

In [221]:
# 9
# 잘못된 것
# 2) 8/2