# ch05 함수
    - 반복해서 사용할 코드를 묶어서 구현해 놓은 것
    - 같은 이름의 함수는 덮어씀 (오버로딩 X)

### 1. 함수
    - 함수 또한 변수이다
    - default 값을 가질 수 있다
    - """ 
          docstring
              
      """

In [3]:
def hello(x, msg):
    for i in range(x):
        print(msg, end=' ')

In [10]:
# 함수도 변수다
print(type(hello))
hello = 3
print(type(hello))

<class 'int'>
<class 'int'>

In [35]:
# 기본값을 갖는 인수는 순서인수 뒤에 나와야한다
def adder(num1, num2, num3=0):
    return num1+num2+num3

In [13]:
adder(1,2)

3

In [140]:
# docstring
def fibo(n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    입력인수는 정수
    return X
    
    ex. n=5이면, 0 1 1 2 3 5
    """
    a,b = 0,1
    while a<n:
        print(a, end=' ')
        a, b = b, a+b
    print(end='\n')

fibo(3)

0 1 1 2

### 2. 함수의 특징
    - 외부 함수 import
    - 전역변수와 지역변수
    - Call by Value, Call by Reference
    - 여러 개 값 반환

In [29]:
print(__name__) # 현재실행위치

if __name__ == '__main__':
    fibo(10)

__main__
0 1 1 2 3 5 8

In [34]:
import fibonacci
fibonacci.fibonacci(3)

0 1 1 2

In [48]:
# 함수 내에서 선언부를 먼저 컴파일함
# Lexical 특성

var = 100 # 전역변수 var
def func():
    # print(var) -> error 
    var = 200 # 지역변수 var
    print(var)

func()
print(var)

200
100

In [56]:
# 전역변수 var의 값을 수정하고 싶으면?
# 전역변수로 변경해야함 (global)

var = 100 # 전역변수 var
def func():
    global var
    var = 200 # 전역변수 var
    print(var)

func()
print(var)

200
200

In [80]:
# Call by value
# 인수로 전달되는 변수가 스칼라 변수(숫자,문자,논리)일 때
# 함수에서 값이 바뀌면 주소도 바뀜

foo1 = 1
def swap1(a):
    print(a, id(a)) #1
    a = 2
    print(a, id(a)) #2
    
swap1(foo1)
print(foo1 ,id(foo1)) #3

1 140705525056296
2 140705525056328
1 140705525056296

In [81]:
# Call by reference
# 인수로 전달되는 변수가 스칼라 변수가 아닐 때 (리스트,딕셔너리,셋)

foo2 = [1,2,3]
def swap2(a):
    print(a, id(a)) #1
    a[1] = 99
    print(a, id(a)) #2
    
swap2(foo2)
print(foo2, id(foo2)) #3

[1, 2, 3] 2114209278784
[1, 99, 3] 2114209278784
[1, 99, 3] 2114209278784

In [88]:
# 여러 개 값을 반환할 수 있다 (하나의 튜플로 변환됨)
x,y = 1,3
def swap(a, b):
    return b,a

x,y = swap(x, y)
print(x, y)

3 1

### 3. 매개변수
    - 1) 기본값을 갖는 인수는 순서인수 뒤에 나와야한다
    - 2) 튜플 매개변수를 이용한 가변인수
    - 3) 키워드 매개변수
    - 4) 딕셔너리 매개변수
    - 5) 딕셔너리의 순서

In [122]:
# 1)
def make_url(ip, port=80):
    return "http:://{}:{}".format(ip,port)

make_url(8090)

'http:://8090:80'

In [123]:
# 2) 튜플 매개변수 *args를 이용한 가변인수
# args 앞에 * : args가 튜플로 전달

def add(*args):
    print(args, type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

print(add(3,4,5))

(3, 4, 5) <class 'tuple'>
12

In [141]:
# 3) 키워드 매개변수
''' [concat() 기능]
concat("C", "Python", "Oracle", "~")
=> C~Python~Oracle
'''

# sol 1)
def concat(*args, sep):
    return sep.join(args)
print(concat("C", "Python", "Oracle", sep="~"))

# sol 2) 좋은 solution
def concat(sep, *args):
    return sep.join(args)
print(concat("~", "C", "Python", "Oracle"))

# sol 3) 가장 좋은 solution
# sep은 키워드인수 (꼭 넣어야하는 기본값을 갖는 인수)
# like print()의 end, sep은 키워드인수
def concat(*args, sep='/'):
    return sep.join(args)
print(concat("C", "Python", "Oracle", sep="~"))

C~Python~Oracle
C~Python~Oracle
C~Python~Oracle

In [142]:
# 4) 딕셔너리 매개변수
def func(**args):
    print(args)
    print(type(args))

In [139]:
func(name='홍길동', age=20)
func(gamename='서바이벌C', year=2024)

{'name': '홍길동', 'age': 20}
<class 'dict'>
{'gamename': '서바이벌C', 'year': 2024}
<class 'dict'>

In [143]:
# 5) 매개변수의 순서
# 순서인수 > 튜플인수(*) > 키워드인수 > 딕셔너리인수(**)
def func(a,b,c,*d, e=10, **f):
    print(a,b,c,d,e,f)

func(1,2,3, 4,5,6, e=6, height=170, name="홍길동")

1 2 3 (4, 5, 6) 6 {'height': 170, 'name': '홍길동'}

In [151]:
# 6) 인수의 언패킹
#    - 튜플 인수 언패킹
#    - 딕셔너리 인수 언패킹
def func(*args):
    print(args)
def func2(**args):
    print(args)

# 튜플 매개변수
print('튜플 매개변수 :', end=' ')
func(1,2,3)
# 튜플 인수 언패킹
print('튜플 인수 언패킹 :', end=' ')
data = (1,2,3)
# func(data) X
func(*data)

# 딕셔너리 매개변수
print('딕셔너리 매개변수 :', end=' ')
func2(name="jennie", age=24)
# 딕셔너리 인수 언패킹
print('딕셔너리 인수 언패킹 :', end=' ')
data = {'name':'jannie', 'age':24}
# func2(data) X
func2(**data)

튜플 매개변수 : (1, 2, 3)
튜플 인수 언패킹 : (1, 2, 3)
딕셔너리 매개변수 : {'name': 'jennie', 'age': 24}
딕셔너리 인수 언패킹 : {'name': 'jannie', 'age': 24}

### 3. 람다식
    - 람다식은 작은 익명함수를 의미함
    - 실행할 문장을 한 문장만 작성할 수 있음
    - 리스트 컴프리헨션과 같이 참조해서 학습 추천
    - map(), filter() 함수의 매개변수에 람다식 사용

In [157]:
# 일반함수
def add(a,b):
    return a+b
print(add(3,5))

# 람다식 1
adder = lambda a, b : a+b
print(adder(1,3))

# 람다식 2
(lambda a,b : a+b)(3,5)

8
4

8

In [204]:
# 람다식을 map 함수의 매개변수에 사용
l = [1,2,3]
pow2 = lambda x:x**2

def map_tmp1(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result
       
print('sol 1 :', map_tmp1(pow2, l)) # sol 1
print('sol 2 :', map_tmp1(lambda x:x**2, l)) # sol 2

# sol 3
def map_tmp2(L=[]):
    result = []
    for data in L:
        result.append(pow2(data))
    return result

print('sol 3 :', map_tmp2(l))

sol 1 : [1, 4, 9]
sol 2 : [1, 4, 9]
sol 3 : [1, 4, 9]

In [207]:
# map 함수
print('map() 사용 :', list(map(lambda x:x*2, l)))

# 리스트 컴프리헨션 사용? 가능
print('리스트 컴프리헨션 사용 :', [x*2 for x in l])

map() 사용 : [2, 4, 6]
리스트 컴프리헨션 사용 : [2, 4, 6]

In [209]:
# 람다식을 filter 함수의 매개변수에 사용
l = [1,2,3,4,5,6,7,8,9,10]
def filter_tmp(func, L=[]):
    result = []
    for data in L:
        if func(data):
            result.append(data)
    return result

filter_tmp(lambda x:x%2==0, l)

[2, 4, 6, 8, 10]

In [210]:
# filter 함수
print('filter() 사용 :', list(filter(lambda x:x%2==0, l)))

# 리스트 컴프리헨션 사용? 가능
print('리스트 컴프리헨션 사용', [x for x in l if x%2==0])

filter() 사용 : [2, 4, 6, 8, 10]
리스트 컴프리헨션 사용 [2, 4, 6, 8, 10]

### 4. 연습문제

In [276]:
def game_369(L=[]):
    result = []
    
    for i in L:
        flag = 0
        str_L = str(i)
        
        tmp = ''
        for j in range(len( str_L )):
            if ((str_L[j]=='3') | (str_L[j]=='6') | (str_L[j]=='9')): 
                tmp += '짝'
        
        if tmp=='':
            result.append(i)
        else :
            result.append(tmp)    
        
    return result
    
game_369([1,2,3,4,5,6,7,8,9,13,20,33])

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']