# ch09 파일 입출력 프로그래밍

### 1. 파일에 데이터를 저장하고 불러오기
    - r: 읽기 모드
    - w: 쓰기 모드
    - a: 추가 모드
    - b: 바이너리 모드

In [8]:
# w: 있는 파일은 덮어쓰기, 없는 파일은 생성 (쓰기 전용)
# a: 있는 파일은 추가, 없는 파일은 생성 (쓰기 전용)
# r: 읽기 전용
f = open('data/ch09.txt','w')
print(f.writable())

True

In [9]:
f.write('hello\nworld!') # cp949
f.close()

In [11]:
with open('data/ch09.txt', 'r') as f:
    data = f.readlines()
    print(data)

['hello\n', 'world!']

In [12]:
with open('data/ch09.txt', 'w') as f:
    print('python is easy', file=f)

In [16]:
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    data = f.readlines()
    for  row in data:
        print(row, end=' ')

홍길동,20,hong@hong.com,서울시 강동구
 박길서,33,park@hong.com,서울시 강서구
 박길남,23,gil@hong.com,서울시 강남구
 김길북,20,kim@hong.com,서울시 강북구
 신길서,40,park@hong.com,서울시 강서구
 신길동,28,park@hong.com,서울시 강서동

In [29]:
import pandas as pd
member1 = pd.read_csv('data/ch09_member1.csv', encoding='utf-8', header=None)
member1.columns = ['name', 'age', 'email', 'address']
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동

In [26]:
member2 = pd.read_csv('data/ch09_member2.csv', encoding='utf-8', nrows=3)
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구

In [31]:
member3 = pd.concat([member1, member2]) # 행병합
member3

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구

In [34]:
member3.to_csv('data/ch09_member3.csv', index=False)