# ch03 데이터 구조
  리스트 [ ], 튜플 ( ), 딕셔너리 { }, 셋 ( )

### 1. 리스트
    - c언어 배열과 유사
    - [] 사용
    - 인덱스로 접근
    - 슬라이싱 지원

In [83]:
# 여러 자료형 저장
fruits = ['banana', 'apple', 'orange', 'grape', 0, 99]
print(type(fruits), type(fruits[0]), type(fruits[-1]))
del(fruits[-2:])

# 수정
fruits[0] = 'mango'
print(fruits)

# 출력
for i in fruits:
    print(i)

# 출력
for i in range(len(fruits)):
    print(i, fruits[i])

# 출력
for i, value in enumerate(fruits):
    print(i, value)

<class 'list'> <class 'str'> <class 'int'>
['mango', 'apple', 'orange', 'grape']
mango
apple
orange
grape
0 mango
1 apple
2 orange
3 grape
0 mango
1 apple
2 orange
3 grape

In [55]:
# 리스트 함수
num = [1,2,3]
print("len = ", len(num))
print("max = ", max(num)); print("min = ", min(num))
num.append(4); print(num)
print(num + num)
print(num * 3)

len =  3
max =  3
min =  1
[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [67]:
n1 = [1,2,3,4]; n2 = [5,6]
n1.append(n2)
print(n1)

n1 += 'hello'
print(n1)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [5, 6], 'h', 'e', 'l', 'l', 'o']

In [81]:
num = [1,2,3,2,1]
# index() : 0번 인덱스부터 2를 찾아서 인덱스 반환
try:
    print(num.index(2, 0))
except:
    print('해당 값이 없습니다')

# count() : 2의 개수 반환
print(num.count(2))

1
2

In [94]:
num1 = [1,3,5,9,10,12,13,18,19,20]
num2 = [1,3,5]
fruits = ['orange', 'mango', 'kiwi']

# 슬라이싱 : 원하는 인덱스의 값만 가져옴
print(num1[::2])

# 컴프리헨션 : 원하는 값만 가져옴
print([i for i in num1 if i%2==0])
print([i**2 for i in num2])
print("길이가 5이상인 fruits :", [long_fruit for long_fruit in fruits if len(long_fruit)>=5])
print("fruits의 길이들 :", [len(long_fruit) for long_fruit in fruits])

[1, 5, 10, 13, 19]
[10, 12, 18, 20]
[1, 9, 25]
길이가 5이상인 fruit : ['orange', 'mango']
fruits의 길이들 : [6, 5, 4]

In [114]:
# 삭제 : del(), renove(), pop()
try:
    num = [5,4,3,2,1]
    del(num[2]); print(num)
    num.remove(5); print(num)
    print(num.pop(), "is poped, num is", num)
except:
    print('except')

# 정렬
num1 = [1,3,5,9,10,12,13,18,19,20]
num1.sort(reverse=True); print(num1)

# 복제 : 핟당연산자, copy()
numbers = [6,1,2]
new1 = numbers  # 얕은 복사 (numbers와 new1은 같은 주소)
new2 = numbers.copy()  # 깊은 복사
numbers[0] = 3
print(new1, new2)

[5, 4, 2, 1]
[4, 2, 1]
1 is poped, num is [4, 2]
[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[3, 1, 2] [6, 1, 2]

### 2. 튜플
    - 리스트와 유사
    - () 사용
    - 수정 불가능
    - len, min, max, count, index, join .. 수정X 함수 가능

In [116]:
city = ('서울', '부산', '광주', '대전')
print(city)

('서울', '부산', '광주', '대전')

### 3. 딕셔너리
    - c언어 구조체와 유사
    - {} 사용
    - key와 value의 쌍으로 구성
    - 인덱스 X
    - key 중복X, value 중복O

In [119]:
dic = {'name':'홍길동', 'address':'서울시'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시'}

In [121]:
dic['name'], dic['address']

('홍길동', '서울시')

In [123]:
# 추가
dic['score'] = '100'
print(dic)

{'name': '홍길동', 'address': '서울시', 'score': '100'}

In [128]:
print(dic.get('age'))  # dic['age'] -> error

None

In [129]:
# 제거
dic.pop('score')
print(dic)

{'name': '홍길동', 'address': '서울시'}

In [151]:
# 기존 방식
for key in dic:
    print(key)

print('name' in dic)
print('홍길동' in dic)

# 딕셔너리 함수
for key, value in dic.items():
    print("key =", key, " | value =", value)
for key in dic.keys():
    print("key =", key)
for value in dic.values():
    print("value =", value)

print('name' in dic.keys())
print('홍길동' in dic.values())

name
address
True
False
key = name  | value = 홍길동
key = address  | value = 서울시
key = name
key = address
value = 홍길동
value = 서울시
True
True

### 4. 셋
    - 증복을 허용하지 않는 집합 (순서X, 인덱스X)
    - { } 사용, 선언 시 set() 사용
    - 여러 자료형 저장 가능

In [153]:
list = [3, 3, 1, 2]
set = {3, 3, 1, 2}
print(list, set)

[3, 3, 1, 2] {1, 2, 3}

In [154]:
for i, value in enumerate(fruits):
    print(i, value)

0 orange
1 mango
2 kiwi

In [155]:
for data in fruits:
    print(data)

orange
mango
kiwi

### 5. 연습문제

In [169]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100) #1
data = [200,300,400,500] #2
numbers += data #3
print(numbers[:5]) #4
print(numbers[1::2]) #5
for 
numbers = numbers[::-1]

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10, 200, 400]

In [180]:
member = {'name':'홍길동', 'age':20, 'address':'서울시 금천구', 'score':90}
print(member['address'])
print(member['score']); member.pop('score')
member['address'] = '서울시 서대문구'
for i in member.values():
    print(i)

서울시 금천구
90
홍길동
20
서울시 서대문구

In [179]:
member

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}